---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: ((docker-registry-url))governmentpaas/spruce
    tag: 2857fdbaea59594c06cf9c6e32027091b67d4767
inputs:
  - name: scripts-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/generate_manifest/manifest-lifecycle-generation.sh
params:
  YML_TEMPLATE_DIR:
  SPRUCE_FILE_BASE_PATH:
  YML_FILES:
  SUFFIX:
  CUSTOM_SCRIPT_DIR:
  IAAS_TYPE:
  PROFILES:
