---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/spruce
    tag: 08122693acec179b207390cd889600c8148c541c
inputs:
  - name: scripts-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/generate_manifest/manifest-lifecycle-generation.sh
params:
  YML_TEMPLATE_DIR:
  SPRUCE_FILE_BASE_PATH:
  YML_FILES:
  SUFFIX:
  CUSTOM_SCRIPT_DIR:
  IAAS_TYPE:
  PROFILES:
  PROFILES_AUTOSORT: true