---
platform: linux
image_resource:
  type: docker-image
  source: {repository: ruby, tag: 2.5.5-slim}
inputs:
  - name: secrets
  - name: cf-ops-automation
outputs:
  - name: ci-deployment-overview
run:
  path: bash
  args:
    - -ce
    - ruby --version && cf-ops-automation/concourse/tasks/list_used_ci_team/run.rb
params:
  SECRETS_PATH: secrets