# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml

#**/secrets/*
#**/secrets.yml
#shared/
bootstrap-generated/**/*-generated.yml

/ci/private*.yml
bin/
.bundle/
out/
/coverage/

spec/tasks/git_reset_wip/reference-resource/
/Readme.md.toc.*
/Readme.md.orig.*
