# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml

#**/secrets/*
#**/secrets.yml
#shared/
**/*-generated.yml

### Eclipse template
.settings/
# Eclipse Core
.project

/ops-depls/cf-apps-deployments/mattermost/mattermost/
/ci/private*.yml
bin/
.bundle/
out/
/coverage/
