---
deployment:
  bosh-deployment: # prior to COA 2.2, this tag must be named like the deployment (here bosh-deployment-sample),
                   # after COA 2.2, it is possible to use 'bosh-deployment' key
    resources:
      templates:
        extended_scan_path: ["shared-files"] # list additional path on templates repository required by this deployment. This may contains submodule - Optional - Default: []

      secrets:
        # DEPRECATED: this deployment depends on another secrets deployment, so it also have to scan change onto the other one
        # As bosh 2 deployment does not require the manifest to interact, you should use bosh link, instead !
        # extended_scan_path: ["hello-world-root-depls/pipeline-sample"]

        local_deployment_scan: true # Enable when `secrets.yml`, 'meta.yml' or any files in deployment secrets directory are required - Default: false
        local_deployment_trigger: true # Enable when a change in deployment secrets directory should trigger as build. This parameter is ignored when `local_deployment_scan`is `false`  - Default: true

    # bosh-release required. Don't set version here, set it in paas-template/root-deployment.yml
    releases:
      #ngnix should be defined here but as sample it is defined in deployment-dependencies-<IAAS_TYPE>.yml
      ntp:
        base_location: https://github.com/
        repository: cloudfoundry-community/ntp-release
        tag_prefix: ''
    errands: # errands to execute automatically after each deploy. Errand are executed one by one in random order.
      # errand-1:
        # display-name: my-custom-name   # => run-errand-bosh-deployment-sample-my-custom-name (ie: run-errand-<deployment-name>-<display-name>)
      # errand-2:
    manual-errands: # errands manually executed by an operator
      # manual-errand-1:
      # manual-errand-2:
        # display-name: my-custom-name   # => run-manual-errand-bosh-deployment-sample-my-custom-name
    bosh-options: # Optional. Customization for bosh deploy command
      # cleanup: true # Optional. An boolean that specifies if a bosh cleanup should be run after deployment. Defaults to true.
      # no_redact: false # Optional. Removes redacted from Bosh output. Defaults to false.
      # dry_run: false # Optional. Shows the deployment diff without running a deploy. Defaults to false.
      # fix: false # Optional. Recreate an instance with an unresponsive agent instead of erroring. Defaults to false.
      # max_in_flight: # Optional. A number of max in flight option. Default: unset, use bosh max in flight
      recreate: true # Optional. Recreate all VMs in deployment. Defaults to false.
      skip_drain: # Optional. A collection of instance group names to skip running drain scripts for. Defaults to empty.
        - ngnix
    git-options: # Optional. Customization for git
     # submodule_recursive: true # Optional. Default: false
     # depth: 0 # Optional. Default: undefined
