---
deployment:
  bosh-deployment: # prior to COA 2.2, this tag must be named like the deployment (here bosh-deployment-sample),
                   # after COA 2.2, it is possible to use 'bosh-deployment' key
    # cli_version: v1 # DEPRECATED: uncomment to use bosh_cli v1 to deploy manifest
    resources:
      secrets:
        # DEPRECATED: this deployment depends on another secrets deployment, so it also have to scan change onto the other one
        # As bosh 2 deployment does not require the manifest to interact, you should use bosh link, instead !
        # extended_scan_path: ["hello-world-root-depls/pipeline-sample"]

     # bosh-release required. Don't set version here, set it in paas-template/<depls>-versions.yml
    releases:
      nginx:
        base_location: https://bosh.io/d/github.com/
        repository: cloudfoundry-community/nginx-release
      ntp:
        base_location: https://bosh.io/d/github.com/
        repository: cloudfoundry-community/ntp-release
      vault:
        base_location: http://github.com/
        repository: cloudfoundry-community/vault-boshrelease
