---
#
# Copyright (C) 2015-2020 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

platform: linux
image_resource:
  type: docker-image
  source: {repository: orangecloudfoundry/cf-ops-automation, tag: develop-latest}
inputs:
  - name: cf-ops-automation
outputs:
  - name: coa-logs
  - name: prereqs
run:
  path: /bin/bash
  args:
    - -ce
    - |
      echo "Setup pre-requisites"
      cp cf-ops-automation/ci/bootstrap_coa_env/manual-ITs/*.* prereqs/
      echo "  bot-github-access-token: ((cf-ops-automation-git-hub-token))" >> prereqs/pipeline-vars-prereqs.yml
      echo "  slack-webhook: ((slack-webhook))" >> prereqs/pipeline-vars-prereqs.yml
      echo "  slack-channel: ((slack-channel))" >> prereqs/pipeline-vars-prereqs.yml
      echo "  slack-proxy:" >> prereqs/pipeline-vars-prereqs.yml
      echo "  slack-disable: ((slack-disable-it))" >> prereqs/pipeline-vars-prereqs.yml
      echo "  slack-proxy-https-tunnel:" >> prereqs/pipeline-vars-prereqs.yml
      printenv INTEGRATION_TEST_PREREQS > prereqs/integration-test-prereqs.yml
      echo "Setup DONE"
      ./cf-ops-automation/scripts/run_integration_tests.rb
      if [ -f ./coa-logs/stdout.log ];then
        cat ./coa-logs/stdout.log
      fi
# it is not possible to include it as config param, otherwise we get an deserialization error
params:
  INTEGRATION_TEST_PREREQS: ((integration-test-prereqs))
  PREREQS_PATHS_RAW: "./prereqs/*.yml"
  COA_LOG_PATH: "../../../../coa-logs"
