---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: governmentpaas/spruce
    tag: 19d32c252e328a762f75417fcee7cab6dbac9e97
inputs:
  - name: scripts-resource
  - name: config-resource
  - name: templates-resource
outputs:
  - name: check-configuration-result
run:
  path: scripts-resource/concourse/tasks/check_configuration/run.sh
params:
  ROOT_DEPLOYMENT:
  DEPLOYMENT:
  SCAN_PATHS:
  GIT_SUBMODULES:
  LOCAL_SECRETS_SCAN:
