---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/spruce
    tag: bbe33e0f82a61bafa24a2c974b39bfa803a395b5
inputs:
  - name: scripts-resource
  - name: config-resource
  - name: templates-resource
outputs:
  - name: check-configuration-result
run:
  path: scripts-resource/concourse/tasks/check_configuration/run.sh
params:
  ROOT_DEPLOYMENT:
  DEPLOYMENT:
  SCAN_PATHS:
  GIT_SUBMODULES:
  LOCAL_SECRETS_SCAN:
