---
name: hello-world-root-depls

stemcell:
  version: "621.76" # Mandatory
  sha1: # Optional

releases:
  nginx:
    version: "1.13.12" # Mandatory
    repository: cloudfoundry-community/nginx-release # Mandatory
    tag_prefix: '' # Optional - by default, COA assumes boshrelease tag starts with 'v'. Adjust using this prefix.
    github-release-name: '' # Optional - by default, COA uses "<name>-<version>.tgz" - Default: nil

  ntp:
    version: "4.2.8p11"
    repository: cloudfoundry-community/ntp-release
    tag_prefix: ''

  bosh-openstack-cpi:
    version: "41"
    repository: cloudfoundry/bosh-openstack-cpi-release

  vault:
    version: "1.1.3"
    base_location: https://github.com/ # Optional - set to 'https://github.com/' when missing
    repository: cloudfoundry-community/vault-boshrelease

#  cf-ops-automation-reference-dataset-submodule-sample:
#    version: "0.0.1"
#    base_location: https://github.com/
#    repository: orange-cloudfoundry/cf-ops-automation-reference-dataset-submodule-sample
