---
name: hello-world-root-depls

stemcell:
  version: "1.915" # Mandatory
  sha1: # Optional

releases:
  nginx:
    version: "1.21.6" # Mandatory
    repository: cloudfoundry-community/nginx-release # Mandatory
    tag_prefix: '' # Optional - by default, COA assumes boshrelease tag starts with 'v'. Adjust using this prefix.
    github-release-name: '' # Optional - by default, COA uses "<name>-<version>.tgz" - Default: nil

  cron:
    version: "1.3.1"
    repository: cloudfoundry-community/cron-boshrelease
    tag_prefix: 'overridden-by-deployment-dependencies' # useless as it is the default value, just to illustrate it is possible to override tag prefix

  bosh-openstack-cpi:
    version: "54"
    repository: cloudfoundry/bosh-openstack-cpi-release

  vault:
    version: "1.1.6"
    base_location: https://github.com/ # Optional - set to 'https://github.com/' when missing
    repository: cloudfoundry-community/vault-boshrelease

#  cf-ops-automation-reference-dataset-submodule-sample:
#    version: "0.0.1"
#    base_location: https://github.com/
#    repository: orange-cloudfoundry/cf-ops-automation-reference-dataset-submodule-sample
