---
ci-deployment:
  hello-world-root-depls:
    target_name: concourse-target
    terraform_config:
      state_file_path: hello-world-root-depls/terraform-config
    pipelines:
      hello-world-root-depls-cf-apps-generated: {}
      hello-world-root-depls-update-generated: {}
      hello-world-root-depls-bosh-precompile-generated: {}
      hello-world-root-depls-bosh-generated:
        team: main
        vars_files:
          - hello-world-root-depls/root-deployment.yml
          - shared/concourse-credentials.yml
      hello-world-root-depls-concourse-generated:
        team: main
