---
# you can override values from template_repository/shared-config.yml
#offline-mode:
#   boshreleases: false # Default: false
#   stemcells: false # Default: true
#
#default:
#  stemcell:
#    name: bosh-openstack-kvm-ubuntu-xenial-go_agent  # Default: bosh-openstack-kvm-ubuntu-xenial-go_agent
#  concourse:
#    parallel_execution_limit: 5 # Default: -1, ie unlimited
#    serial_group_naming_strategy: SerialGroupMd5NamingStrategy #Default: SerialGroupRoundRobinNamingStrategy
#<root-deployment-name>: # override per root-deployment
#  concourse:
#    parallel_execution_limit: 10 # Default: -1, ie unlimited
#    serial_group_naming_strategy: SerialGroupMd5NamingStrategy #Default: SerialGroupRoundRobinNamingStrategy