---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: ((docker-registry-url))governmentpaas/bosh-cli-v2
    tag: 2857fdbaea59594c06cf9c6e32027091b67d4767
inputs:
  - name: scripts-resource
  - name: secrets # required for certificates injection
    optional: true
outputs:
  - name: result-dir
run:
  path: ./scripts-resource/concourse/tasks/bosh_variables/run.rb
params:
  BOSH_TARGET:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_DEPLOYMENT:
