---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/bosh-cli-v2
    tag: 08122693acec179b207390cd889600c8148c541c
inputs:
  - name: scripts-resource
  - name: secrets # required for certificates injection
    optional: true
outputs:
  - name: result-dir
run:
  path: bash
  args:
    - -ce
    - |
      echo "Bosh CLI info: $(bosh --version)"
      ./scripts-resource/concourse/tasks/bosh_variables/run.rb
params:
  BOSH_TARGET:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_DEPLOYMENT:
