---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: ((docker-registry-url))elpaasoci/bosh-cli-v2-cf-cli
    tag: f511cd287c4c4fc66aeac5286b88c37e56899496
inputs:
  - name: scripts-resource
  - name: credentials-resource
  - name: additional-resource
  - name: templates-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/cf/push.sh
params:
  GENERATE_DIR:
  BASE_TEMPLATE_DIR:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
  CF_MANIFEST:
