---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/bosh-cli-v2-cf-cli
    tag: 08122693acec179b207390cd889600c8148c541c
inputs:
  - name: scripts-resource
  - name: credentials-resource
  - name: additional-resource
  - name: templates-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/cf/push.sh
params:
  GENERATE_DIR:
  BASE_TEMPLATE_DIR:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
  CF_MANIFEST:
