---
platform: linux
image_resource:
  type: docker-image
  source: {repository: ((docker-registry-url))concourse/busyboxplus, tag: "git"} # TODO move to git-ssh
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/manifest/copy-deployment-required-files.sh
params:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
  MANIFEST_NAME:
