---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: ((docker-registry-url))elpaasoci/git-ssh
    tag: f511cd287c4c4fc66aeac5286b88c37e56899496
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/manifest/copy-deployment-required-files.sh
params:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
  MANIFEST_NAME:
