---
platform: linux
image_resource:
  type: docker-image
  source: {repository: ruby, tag: 2.5.5-slim}
inputs:
  - name: scripts-resource
  - name: state-file-resource
outputs:
  - name: result-dir
run:
  path: sh
  args:
  - -exc
  - |
    scripts-resource/scripts/terraform/extract_terraform_state_to_yaml.rb <${STATE_FILE} >${OUTPUT_FILE}
    cat ${OUTPUT_FILE}
params:
  STATE_FILE:
  OUTPUT_FILE: