---
platform: linux
image_resource:
  type: registry-image
  source: {repository: ((docker-registry-url))library/ruby, tag: 3.1.7-slim}
inputs:
  - name: scripts-resource
  - name: state-file-resource
outputs:
  - name: result-dir
run:
  path: sh
  args:
  - -ec
  - |
    scripts-resource/scripts/terraform/extract_terraform_state_to_yaml.rb <${STATE_FILE} >${OUTPUT_FILE}
    cat ${OUTPUT_FILE}
params:
  STATE_FILE:
  OUTPUT_FILE: