---
#
# Copyright (C) 2015-2020 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/curl-ssl
    tag: 16d8df77e94455af3bccce2b058318fd3fd8b9bc
inputs:
- name: fly-cmd
outputs:
- name: flight-report

run:
  path: sh
  args:
  - -ec
  - |
    mkdir -p /usr/local/bin
    FLY=/usr/local/bin/fly
    echo "Fetching fly...";
    curl -SsL "$ATC_EXTERNAL_URL/api/v1/cli?arch=amd64&platform=linux" -k > $FLY;
    chmod +x $FLY;

    echo "Login into Concourse@${ATC_EXTERNAL_URL}"
    fly login -t concourse-target --team-name="$FLY_TEAM" -c "$ATC_EXTERNAL_URL" --username="$FLY_USERNAME" --password="$FLY_PASSWORD" -k 2>&1
    PREFIX="fly -t concourse-target"

    old_IFS=$IFS     # sauvegarde du séparateur de champ
    IFS=$'\n'     # nouveau séparateur de champ, le caractère fin de ligne
    for command in $(cat fly-cmd/flight-plan)
    do
      echo "Executing '$PREFIX $command': " 2>&1 | tee -a flight-report/flight-report.txt
      eval "$PREFIX $command" 2>&1 | tee -a flight-report/flight-report.txt
    done
    IFS=$old_IFS     # rétablissement du séparateur de champ par défaut
    echo "Flight execution report:"
    cat flight-report/flight-report.txt
params:
  ATC_EXTERNAL_URL:
  FLY_USERNAME:
  FLY_PASSWORD:
  FLY_TEAM: main







