---
platform: linux
image_resource:
  type: docker-image
  source: {repository: ((docker-registry-url))library/ruby, tag: 2.6.3-slim}
inputs:
  - name: scripts-resource
  - name: secrets-resource
  - name: templates-resource
outputs:
  - name: result-dir
run:
  path: sh
  args:
  - -exc
  - |
    echo "Selected Iaas Type: <${IAAS_TYPE}>"
    echo "Profiles: <${PROFILES}>"
    export SECRETS=$(pwd)/secrets-resource
    export TEMPLATES=$(pwd)/templates-resource
    export OUTPUT_DIR=$(pwd)/result-dir
    cd scripts-resource
    ./scripts/concourse-generate-all-pipelines.sh
    du -a ../result-dir
params:
  IAAS_TYPE:
  PIPELINE_TYPE:
  PROFILES:
