---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: governmentpaas/cf-cli
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/post_deploy/run.sh
params:
  CUSTOM_SCRIPT_DIR:
  SECRETS_DIR: