---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: governmentpaas/curl-ssl
inputs:
  - name: scripts-resource
  - name: credentials-resource
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/cf/push.sh

run:
  path: scripts-resource/scripts/post-bosh-deploy-launcher.sh

params:
  CUSTOM_SCRIPT_DIR:
  SECRETS_DIR: