---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/cf-cli
    tag: 08122693acec179b207390cd889600c8148c541c
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/post_deploy/run.sh
params:
  CUSTOM_SCRIPT_DIR:
  SECRETS_DIR: