---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/cf-cli
    tag: 4a58b73ed465086e1d381f121072fe6e28d09a7d
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/post_deploy/run.sh
params:
  CUSTOM_SCRIPT_DIR:
  SECRETS_DIR: