---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: ((docker-registry-url))elpaasoci/bosh-cli-v2-cf-cli
    tag: f511cd287c4c4fc66aeac5286b88c37e56899496
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/post_deploy/run.sh
params:
  CUSTOM_SCRIPT_DIR:
  SECRETS_DIR: