---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/bosh-cli-v2-cf-cli
    tag: e3520d05ad3ff8564810ba75f148d9426a7ebe8b
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/pre_deploy/run.sh
params:
  GENERATE_DIR:
  BASE_TEMPLATE_DIR:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
