---
platform: linux
image_resource:
  type: docker-image
  source: {repository: ruby, tag: 2.5.5-slim}
inputs:
  - name: scripts-resource
outputs:
  - name: result-dir
run:
  path: scripts-resource/concourse/scripts/run-ruby-script.sh

params:
  SCRIPT_PARAMS:
  SCRIPT_NAME:
