---
platform: linux
image_resource:
  type: docker-image
  source: {repository: orangecloudfoundry/spiff}
inputs:
  - name: scripts-resource
  - name: template-resource
  - name: credentials-resource
    optional: true
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/concourse/tasks/spiff_pre_deploy/run.sh
params:
  GENERATE_DIR:
  BASE_TEMPLATE_DIR:
  SECRETS_DIR:
  CUSTOM_SCRIPT_DIR:
