---
platform: linux
image_resource:
  type: docker-image
  source: {repository: orangecloudfoundry/spiff}
inputs:
  - name: scripts-resource
  - name: credentials-resource
  - name: additional-resource
outputs:
  - name: generated-files
run:
  path: scripts-resource/scripts/manifest/spiff-processing.sh
params:
  GENERATE_DIR:
  BASE_TEMPLATE_DIR:
