---
#
# Copyright (C) 2015-2017 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
platform: linux

image_resource:
  type: docker-image
  # Maintained in https://github.com/orange-cloudfoundry/paas-docker-cloudfoundry-tools
  source: {repository: orangecloudfoundry/terraform, tag: 9abcdeea39faad8fd07163c73aa25aa062d174db}

inputs:
  - name: secret-state-resource
  - name: spec-resource
  - name: terraform-tfvars

outputs:
  - name: generated-files
  - name: spec-applied

run:
  path: sh
  args:
  - -exc
  - |
    terraform version
    CURRENT_DIR=$(pwd)
    ###
    ### don't use cp to copy file, or you'll get an error on empty dir
    ### cp: can't stat 'terraform-tfvars/*': No such file or directory
    ###

    if [ -z "${SPEC_PATH}" ]; then
    echo "FATAL: SPEC_PATH is missing"
    exit 1
    fi

    if [ -z "${IAAS_SPEC_PATH}" ]; then
    echo "FATAL: IAAS_SPEC_PATH is missing"
    exit 1
    fi

    if [ -z "${SECRET_STATE_FILE_PATH}" ]; then
    echo "FATAL: SECRET_STATE_FILE_PATH is missing"
    exit 1
    fi

    # copy tfstate and secrets
    find secret-state-resource/${SECRET_STATE_FILE_PATH} -type f -exec cp {} generated-files/ \;

    # copy generated tfvars
    find terraform-tfvars -type f -exec cp {} generated-files/ \;

    # copy spec in spec, preserving the nested modules if any
    find spec-resource/${SPEC_PATH} -mindepth 1 -maxdepth 1 -exec cp --verbose -r {} spec-applied/ \;

    # copy spec in secrets, preserving the nested modules if any
    if [ -d "secret-state-resource/${SPEC_PATH}" ]
    then
    find secret-state-resource/${SPEC_PATH} -mindepth 1 -maxdepth 1 -exec cp --verbose -r {} spec-applied/ \;
    fi

    if [ -d "spec-resource/${IAAS_SPEC_PATH}" ]
    then
    # copy iaas-spec in spec, preserving the nested modules if any
    find spec-resource/${IAAS_SPEC_PATH} -mindepth 1 -maxdepth 1 -exec cp --verbose -r {} spec-applied/ \;
    fi
    
    # copy iaas-spec in secrets, preserving the nested modules if any
    if [ -d "secret-state-resource/${IAAS_SPEC_PATH}" ]
    then
    find secret-state-resource/${IAAS_SPEC_PATH} -mindepth 1 -maxdepth 1 -exec cp --verbose -r {} spec-applied/ \;
    fi

    cd generated-files/
    terraform init -input=false -upgrade -get-plugins=false -plugin-dir=/.terraform/plugins/linux_amd64 ../spec-applied/
    terraform apply -input=false -auto-approve ../spec-applied/

params:
  SPEC_PATH:
  SECRET_STATE_FILE_PATH:
  IAAS_SPEC_PATH: