---
#
# Copyright (C) 2015-2020 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

platform: linux

image_resource:
  type: docker-image
  # Maintained in https://github.com/orange-cloudfoundry/paas-docker-cloudfoundry-tools
  source: {repository: ((docker-registry-url))orangecloudfoundry/terraform, tag: 0137f362db1fdd482668e899eb7638ff447b0856}

inputs:
  - name: secret-state-resource
  - name: spec-resource
  - name: terraform-tfvars

outputs:
  - name: generated-files
  - name: spec-applied

run:
  path: sh
  args:
  - -ec
  - |
    copy_spec_files() {
      local base_path=$1
      local spec_dirname=$2
      local context=$3
      local full_path=${base_path}/${spec_dirname}

      if [ -d "${full_path}" ]; then
        # copy profile-spec in spec, preserving the nested modules if any
        echo "copy ${spec_dirname} (from ${full_path}) in spec, preserving the nested modules if any - Context: $context"
        ###
        ### don't use cp to copy file, or you'll get an error on empty dir
        ### cp: can't stat 'terraform-tfvars/*': No such file or directory
        ###
        find ${full_path} -mindepth 1 -maxdepth 1 -exec cp --verbose -r {} spec-applied/ \;
      else
        echo "Ignoring spec files in '${full_path}': directory does not exist - Context: $context"
      fi
    }

    terraform version
    CURRENT_DIR=$(pwd)

    if [ -z "${SPEC_PATH}" ]; then
      echo "FATAL: SPEC_PATH is missing"
      exit 1
    fi

    if [ -z "${IAAS_SPEC_PATH}" ]; then
      echo "FATAL: IAAS_SPEC_PATH is missing"
      exit 1
    fi

    if [ -z "${SECRET_STATE_FILE_PATH}" ]; then
      echo "FATAL: SECRET_STATE_FILE_PATH is missing"
      exit 1
    fi

    # copy tfstate
    find secret-state-resource/${SECRET_STATE_FILE_PATH} -type f -exec cp {} generated-files/ \;

    # copy generated tfvars
    find terraform-tfvars -type f -exec cp {} generated-files/ \;

    copy_spec_files spec-resource ${SPEC_PATH} "Specs from paas-templates"

    copy_spec_files secret-state-resource ${SPEC_PATH}  "Specs from secrets"

    copy_spec_files spec-resource ${IAAS_SPEC_PATH} "Iaas Specs from paas-templates"
    copy_spec_files secret-state-resource ${IAAS_SPEC_PATH} "Iaas Specs from secrets"

    if [ -n "${PROFILES}" ]; then
      echo "Profiles detected: ${PROFILES}"
      echo "${PROFILES}"|sed -e 's/,/\n/g' > /tmp/profiles.txt
      if [ "$PROFILES_AUTOSORT" = "true" ]; then
        NEWLINE_DELIMITED_PROFILES=$(sort </tmp/profiles.txt)
        echo -e "Auto sort profiles:\n${NEWLINE_DELIMITED_PROFILES}"
      else
        NEWLINE_DELIMITED_PROFILES=$(cat /tmp/profiles.txt)
        echo "Auto sort profiles disabled: ${NEWLINE_DELIMITED_PROFILES}"
      fi
      for profile in ${NEWLINE_DELIMITED_PROFILES}; do
        copy_spec_files spec-resource "${PROFILES_SPEC_PATH_PREFIX}${profile}" "${profile} Specs from paas-templates"
        copy_spec_files secret-state-resource "${PROFILES_SPEC_PATH_PREFIX}${profile}" "${profile} Specs from secrets"
      done
    else
      echo "WARNING: no profile detected !"
    fi

    cd generated-files/
    terraform init -input=false -upgrade -get-plugins=false -plugin-dir=/.terraform/plugins/linux_amd64 ../spec-applied/
    terraform apply -input=false -auto-approve ../spec-applied/

params:
  SPEC_PATH:
  SECRET_STATE_FILE_PATH:
  IAAS_SPEC_PATH:
  PROFILES:
  PROFILES_SPEC_PATH_PREFIX:
  PROFILES_AUTOSORT: true