---
#
# Copyright (C) 2015-2020 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/bosh-cli-v2
    tag: 4c45660b9ad1193873b4d59b61678354ee225321
inputs:
  - name: cf-ops-automation
  - name: repackaged-releases
outputs:
  - name: repackaged-releases-fallback
run:
  path: bash
  args:
    - -c
    - |
      git config --global advice.detachedHead false
      git config --global user.email "$GIT_USER_EMAIL"
      git config --global user.name "$GIT_USER_NAME"
      export REPACKAGED_RELEASES_PATH="${PWD}/repackaged-releases"
      export REPACKAGED_RELEASES_FALLBACK_PATH="${PWD}/repackaged-releases-fallback"
      ruby --version
      ruby cf-ops-automation/concourse/tasks/repackage_boshreleases_fallback/run.rb ${REPACKAGED_RELEASES_PATH}/errors.yml
      exit_code=$?
      ls -l ${REPACKAGED_RELEASES_FALLBACK_PATH}
      if [ ${exit_code} -ne 0 ]; then
        echo "WARNING: fail to repackage all releases, please check ${REPACKAGED_RELEASES_FALLBACK_PATH}/fallback-errors.yml"
        cat ${REPACKAGED_RELEASES_FALLBACK_PATH}/fallback-errors.yml
      fi
params:
  GIT_USER_NAME: "Orange Cloud Foundry SKC CI Server"
  GIT_USER_EMAIL: "codex.clara-cloud-ops@orange.com"