---
#
# Copyright (C) 2015-2020 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

platform: linux
image_resource:
  type: registry-image
  source:
    repository: governmentpaas/bosh-cli-v2
    tag: f4817cce4038ac072c06507ca9d255392489d967
inputs:
  - name: templates-resource
outputs:
  - name: to-csv
run:
  path: bash
  args:
    - -ce
    - |
      ruby --version
      ruby -r yaml <<EOF
       root_deployment = YAML.load_file(File.join('templates-resource',ENV['ROOT_DEPLOYMENT_NAME'],'root-deployment.yml')) || {}
       File.open(File.join('to-csv', 'expected-boshreleases.csv'), 'w+') do |file|
         root_deployment.dig('releases')&.each do |name, details|
           puts "Processing #{name}"
           version = details&.dig('version')
           repository = details&.dig('repository')
           unless repository
             puts "WARNING - Expected boshreleases - Ignoring invalid release(#{name} defined in 'root_deployment.yml': missing 'repository'"
             next
           end
           namespace = repository.split('/').first
           csv_release_info = "#{name},#{version},#{namespace}\n"
           file.write(csv_release_info)
         end
       end
      EOF
params:
  ROOT_DEPLOYMENT_NAME: