platform: linux
image_resource:
  type: docker-image
  source:
    repository: ((docker-registry-url))orangecloudfoundry/k8s-tools
    tag: 10505f812181d02e8be344a943a28a8af24f9e01
inputs:
  - name: paas-templates-resource
  - name: credentials-resource
  - name: pre-processed-manifest
    optional: true
  - name: cf-ops-automation
  - name: k8s-configs-repository
outputs:
  - name: result-dir
run:
  path: bash
  args:
    - -ec
    - |
      echo "Running $TASK_RUN_SCRIPT"
      $TASK_RUN_SCRIPT
params:
  TASK_RUN_SCRIPT: cf-ops-automation/concourse/tasks/execute_k8s_shells/run.sh
  FILE_EXECUTION_FILTER: "[0-9][0-9]-*.sh"
  GIT_USER_NAME: "Orange Cloud Foundry SKC CI Server"
  GIT_USER_EMAIL: "codex.clara-cloud-ops@orange.com"
  COA_DEPLOYMENT_NAME:
  CUSTOM_SCRIPT_DIR:
  CREDHUB_SERVER:
  CREDHUB_CLIENT:
  CREDHUB_SECRET:
  CREDHUB_CA_CERT:
  IAAS_TYPE:
  PROFILES:
