platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/k8s-tools
    tag: bbe33e0f82a61bafa24a2c974b39bfa803a395b5
inputs:
  - name: paas-templates-resource
  - name: credentials-resource
  - name: pre-processed-manifest
    optional: true
  - name: cf-ops-automation
  - name: k8s-configs-repository
outputs:
  - name: result-dir
run:
  path: bash
  args:
    - -ec
    - |
      echo "Running $TASK_RUN_SCRIPT"
      $TASK_RUN_SCRIPT
params:
  TASK_RUN_SCRIPT: cf-ops-automation/concourse/tasks/execute_k8s_shells/run.sh
  FILE_EXECUTION_FILTER: "[0-9][0-9]-*.sh"
  GIT_USER_NAME: "Orange Cloud Foundry SKC CI Server"
  GIT_USER_EMAIL: "codex.clara-cloud-ops@orange.com"
  COA_ROOT_DEPLOYMENT_NAME:
  COA_DEPLOYMENT_NAME:
  CUSTOM_SCRIPT_DIR:
  CREDHUB_SERVER:
  CREDHUB_CLIENT:
  CREDHUB_SECRET:
  CREDHUB_CA_CERT:
  IAAS_TYPE:
  PROFILES:
