---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: ((docker-registry-url))elpaasoci/bosh-cli-v2
    tag: f511cd287c4c4fc66aeac5286b88c37e56899496
inputs:
  - name: scripts-resource
  - name: secrets
outputs:
  - name: result-dir
run:
  path: ./scripts-resource/concourse/tasks/bosh_cancel_all_tasks/run.rb
params:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_TARGET:
  BOSH_CA_CERT:
