---
platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/bosh-cli-v2
    tag: 6374e395d157c573930ad67cabdc9ad9a2987fce
inputs:
  - name: scripts-resource
  - name: secrets
outputs:
  - name: result-dir
run:
  path: ./scripts-resource/concourse/tasks/bosh_cancel_all_tasks/run.rb
params:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_TARGET:
  BOSH_CA_CERT:
