platform: linux
image_resource:
  type: registry-image
  source:
    repository: elpaasoci/k8s-tools
    tag: 08122693acec179b207390cd889600c8148c541c
inputs:
  - name: paas-templates-resource
  - name: cf-ops-automation
outputs:
  - name: paas-templates-resolved
run:
  path: bash
  args:
    - -ec
    - |
      echo "Running $TASK_RUN_SCRIPT"
      $TASK_RUN_SCRIPT
params:
  TASK_RUN_SCRIPT: cf-ops-automation/concourse/tasks/apply_iaas_type_and_profiles/run.sh
  ROOT_DEPLOYMENT_NAME:
  COA_DEPLOYMENT_NAME:
  CONFIG_DIR:
  IAAS_TYPE:
  PROFILES:
